{{ local['ipv4']['ip'] }}  {{ local['ipv4']['domain'] }}
{{ local['ipv6']['ip'] }}  {{ local['ipv6']['domain'] }}

{{ bastion['network']['ip'] }} {{ bastion['hostname'] }}
{{ okd['network']['ip'] }} {{ okd['hostname'] }}
