---
"{{ ansible_lo.ipv4 }}"   localhost localhost.localdomain localhost4 localhost4.localdomain4
"{{ ansible_lo.ipv6 }}"   localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ bastion_ip }} {{ bastion_fqdn }}
{{ okd_ip }} {{ okd_fqdn }}
