[OSEv3:children]
masters
nodes
etcd

[OSEv3:vars]
os_firewall_use_firewalld=true
openshift_pkg_version=-3.11.*
openshift_deployment_type=origin
openshift_portal_net=172.30.0.0/16
openshift_disable_check=disk_availability,memory_availability,docker_image_availability
        
openshift_node_groups=[{'name': 'node-config-all-in-one', 'labels': ['node-role.kubernetes.io/master=true', 'node-role.kubernetes.io/infra=true', 'node-role.kubernetes.io/compute=true']}]

openshift_master_default_subdomain={{ okd['hostname'] }}
        
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider'}]

debug_level=6

ansible_ssh_user=root

ansible_become=true

openshift_cockpit_deployer_image='docker.io/timbordemann/cockpit-kubernetes:latest'

[masters]
{{ okd['hostname'] }} openshift_schedulable=true
[etcd]
{{ okd['hostname'] }}
[nodes]
{{ okd['hostname'] }} openshift_node_group_name='node-config-all-in-one'
